.navbar{
background-color: rgb(229, 231, 231);
}
.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}
.quem-somos{
    background-color: antiquewhite;
}

.servicos{
    background-color: rgb(188, 253, 231);

}

.parceiros{
    background-color:rgb(255, 255, 255);
}

.contato{
    background-color: rgb(189, 134, 240);
}

